.detournee {
  text-decoration: underline;
}
    
.contandante {
  font-weight: bold; 
}

article h1, article h2, article h3 {
  color: red;
}

#armes ul > li {
  color: green;
}

#armes li > ul > li {
  color: blue;
}

li > ul > li {
  list-style-type: none;
}

article img {
  height: 1em;
}

aside img {
  width: 20vw
}

li ::marker {
  list-style: none;
}

#annexes section:last-child ul {
  display: flex;
  list-style-type: none;
}